<div class="has-background-grey-lighter">
    <section class="section">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <p>
              <strong class="is-size-1" style="font-family: fantasy;">GarageCloud</strong>
            </p>
          </div>
          <div class="columns is-centered">
            <div class="column is-5">
              <br>
              <%= link_to "ログイン", new_user_session_path, class: "button is-dark is-fullwidth" %>
              <br>
              <%= link_to "新規登録", new_user_registration_path, class: "button is-dark is-fullwidth" %>
            </div>
          </div>
        </div>
      </article>
      <br>
      <div class="content has-text-centered">
          <h2 class="title is-3" style="font-family">趣味に生きる方へのアイデアプラットフォーム</h2>
          <p>インターネットで探したけれど、情報が古くて見つからない。</p>
          <p>年式によってパーツや構造が変わっていてどうしたらよいのかわからない</p>
          <p>そんな"自作派"の皆さんのお悩みを解決するプラットフォームです。</p>
          <h3>自分の調べたサイト、動画、オリジナルの工程や解決法をシェアして次の人たちへ繋ぎましょう</h3>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <figure>
            <div class="main_image"></div>
          </figure>
        </div>
      </div>
    </section>
</div>